<a href="https://colab.research.google.com/github/fnemati/TechWise/blob/main/PST_TWC1_Session_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OH

Fib:

1, 1, 2, 3, 5, 8, 13, 21

100

In [ ]:
def fib(limit: int=100) -> list[int]:
    fibs = [0,1]
    for _ in range(2, limit):
        fibs.append(fibs[-1] + fibs[-2])
    return fibs

In [ ]:
fib()

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026]

In [ ]:
def fib(limit: int=100) -> list[int]:
    seq = [0]
    a = 0
    b = 1
    while b < limit - 1:
        seq.append(b)
        a, b = b, a + b
        # temp = a + b
        # a = b
        # b = temp
    return seq

In [ ]:
fib()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Assignment-03-03
## Triangle Inequality Theorem


The sum of the lengths of any two sides of a triangle is greater than the length of the third side.

![triangle-inequality-theorem-image001.gif]()

In the figure, the following inequalities hold.

a + b > c

a + c > b

b + c > a


* Example 01:

Check whether it is possible to have a triangle with the given side lengths.

7,9,13


* Explanation:

Add any two sides and see if it is greater than the other side.

The sum of 7 and 9 is 16 and 16 is greater than 13 .

The sum of 9 and 13 is 21 and 21 is greater than 7 .

The sum of 7 and 13 is 20 and 20 is greater than 9 .

This set of side lengths satisfies the Triangle Inequality Theorem.

These lengths do form a triangle.


* Example 02:

Check whether the given side lengths form a triangle.

4,8,15

* Explanation:

Add any two sides and see if it is greater than the other side.

The sum of 4 and 8 is 12 and 12 is less than 15 .

This set of side lengths does not satisfy Triangle Inequality Theorem.

These lengths do not form a triangle

In [ ]:
# NOT READABLE

def is_valid_triangle(side_a: int, side_b: int, side_c: int) -> bool:
    check_1 = side_a + side_b > side_c
    check_2 = side_b + side_c > side_a
    check_3 = side_a + side_c > side_b
    if check_1 and check_2 and check_3:
        return True
    else:
        return False

In [ ]:
# MUCH BETTER

def is_valid_triangle(a: int, b: int, c: int) -> bool:
    return a + b > c and b + c > a and a + c > b

In [ ]:
print(is_valid_triangle(7, 9, 13))
print(is_valid_triangle(4, 8, 15))

True
False

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True and True and True

True

In [ ]:
True and False and True

False

In [ ]:
True and True and False

False

## Assignment 04-02

1. Start with any number. (For practice try small numbers) say 7
2. if it is even divide by 2, if it is odd multiply by 3 and add 1
3. Repeat

4. This process reaches at ...4, 2, 1 and then starts repeating

Write a function that generates the sequence ending in 4, 2, 1 for the given starting number

For example $7$ should generate $[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]$

In [ ]:
def collatz_sequence(k: int) -> list[int]:
    seq = []
    while k != 4:
        seq.append(k)
        k = next_collatz(k)
    seq.extend([4, 2, 1])
    return seq

In [ ]:
# THIS WORKS

def next_collatz(n: int) -> int:
    if n % 2 == 0:
        return n // 2
    else:
        return (n * 3) + 1

In [ ]:
# THIS IS CLEANER / MORE PYTHONIC
def next_collatz(n: int) -> int:
    return n // 2 if n%2 == 0 else (n * 3) + 1

In [ ]:
next_collatz(11)

34

In [ ]:
collatz_sequence(7)

[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

##Assignment 05-03

Write a function that classifies given list of numbers into **Even** and **Odd** Sublists.

In [ ]:
def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    evens = []
    odds = []
    for num in nums:
        if num % 2 == 0:
            evens.append(num)
        else:
            odds.append(num)
    return evens, odds

In [ ]:
print(split_Even_Odd_Sublists([1, 2, 3, 6, 5, 4]))

([2, 4, 6], [1, 3, 5])

In [ ]:
num_array = [2,4,6,8,1,3,5,7,9,11,12,14,15,21]
print(split_Even_Odd_Sublists(num_array))

([2, 4, 6, 8, 12, 14], [1, 3, 5, 7, 9, 11, 15, 21])

In [ ]:
4 % 2

0

In [ ]:
num = 3
print(num % 2 == 1)
print(num % 2 != 0)

True
True

In [ ]:
6 % 3

0

In [ ]:
# MAYBE DONKEY VARIABLES

def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    evens = list(filter(lambda x: x%2 == 0, nums))
    odds = list(filter(lambda x: x%2 == 1, nums))
    return evens, odds

In [ ]:
# BETTER ?

def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    return list(filter(lambda x: x%2 == 0, nums)), list(filter(lambda x: x%2 == 1, nums))

In [ ]:
# I WOULD SAY THIS IS BETTER THAN THE CODE ABOVE NECESSARILY

def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    is_even = lambda x: x%2 == 0
    is_odd = lambda x: x%2 != 0
    return list(filter(is_even, nums)), list(filter(is_odd, nums))

In [ ]:
# IF YOU WANT TO USE THE IS_EVEN FUNCTION OUTSIDE OF SPLIT THEN DO THIS

def is_even(n: int) -> bool:
    return n % 2 == 0

def is_odd(n: int) -> bool:
    return n % 2 != 0

def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    return list(filter(is_even, nums)), list(filter(is_odd, nums))

In [ ]:
# NOT NECESSARILY BETTER THAN THE ABOVE CODE

from itertools import filterfalse

def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    is_even = lambda x: x%2 == 0
    return list(filter(is_even, nums)), list(filterfalse(is_even, nums))

In [ ]:
def split_Even_Odd_Sublists(nums: list[int]) -> tuple[list[int], list[int]]:
    is_even = lambda x: x%2 == 0
    return list(filter(is_even, nums)), list(filter(lambda x: not is_even(x), nums))

In [ ]:
print(split_Even_Odd_Sublists([1, 2, 3, 6, 5, 4]))

([2, 6, 4], [1, 3, 5])

In [ ]:
num_array = [2,4,6,8,1,3,5,7,9,11,12,14,15,21]
print(split_Even_Odd_Sublists(num_array))

([2, 4, 6, 8, 12, 14], [1, 3, 5, 7, 9, 11, 15, 21])

In [ ]:
from itertools import filterfalse

list(filterfalse(is_even, [1, 2, 3, 4, 5, 6]))

[1, 3, 5]

In [ ]:
# RECURSION by Jasmine

In [ ]:
def split_even_odd_sublist(num_list: list[int], even_list=None, odd_list=None, index=0) -> tuple([list[int], list[int]]):
    if even_list is None:
        even_list = []
    if odd_list is None:
        odd_list = []

    if index == len(num_list):
        return even_list, odd_list

    if num_list[index] % 2 == 0:
        even_list.append(num_list[index])
    else:
        odd_list.append(num_list[index])

    return split_even_odd_sublist(num_list, even_list, odd_list, index + 1)


print(split_even_odd_sublist([2, 4, 6, 8, 1, 3, 5, 7, 9, 11, 12, 14, 15, 21]))

([2, 4, 6, 8, 12, 14], [1, 3, 5, 7, 9, 11, 15, 21])

In [ ]:
print(split_even_odd_sublist([2, 4, 6, 8, 1, 3, 5, 7, 9, 11, 12, 14, 15, 21]))

([2, 4, 6, 8, 12, 14], [1, 3, 5, 7, 9, 11, 15, 21])