<a href="https://colab.research.google.com/github/fnemati/TechWise/blob/main/PST_TWC1_Session_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Session 15

* Types of Arguments
    - Required Arguments
    - Default Arguments
    - Variable-length Arguments
    - Keyword Arguments

* Assignments:
     - Calculate Perimeter Problem
     - Concatenate the strings in the reverse order Problem

https://docs.python.org/3/glossary.html#term-parameter

#TYPE OF ARGUMENTS

##Required Arguments

##Problem - 1

Implement a function which calculate the sum of digits of a number.

In [ ]:
def sum_of_digits(num: int)-> int:
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

sum_of_digits(1234)

10

In [ ]:
sum_of_digits()

TypeError: sum_of_digits() missing 1 required positional argument: 'num'

In [ ]:
sum_of_digits(1234, 12345)

TypeError: sum_of_digits() takes 1 positional argument but 2 were given

## Default Arguments


* Function arguments can have default values in Python.

* We can provide a default value to an argument by using the assignment operator ( = ).

In [ ]:
def sum_of_digits(num: int=0)-> int:
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

sum_of_digits(1234)

10

In [ ]:
sum_of_digits()

0

##Problem - 2

Implement a function to calculate the gross salary of an employee for the month of March. He is expecting 10% of HRA and 12% of TA on his basic salary. This month every employee will receive a $500 as a bonus.

In [ ]:
def calculate_gross(salary: float)->float:
    total = 0
    total += salary
    total += salary * .1
    total += salary * .12
    total += 500
    return total

calculate_gross(3000)

4160.0

In [ ]:
def calculate_gross(basic_salary: float, bonus: float=500) -> float:
    hra = basic_salary * 0.1
    ta = basic_salary * 0.12
    # additive calculation of TA and HRA
    return basic_salary + ta + hra + bonus

print(calculate_gross(3000, 0))
print(calculate_gross(3000))

3660.0
4160.0

In [ ]:
def calculate_gross_salary(base_salary: int | None = None) -> float:
  if base_salary == None:
    raise Exception("Base salary cannot be empty")
  # multiplicative calculation of TA and HRA
  return base_salary * 1.1 * 1.12 + 500

calculate_gross_salary()

Exception: Base salary cannot be empty

##Variable-length Arguments ( *args )


##Problem - 3

Calculate the sum of given numbers.

In [ ]:
def calculate_sum(num1 : int, num2: int, num3: int) -> int:
    return num1 + num2 + num3

calculate_sum(32, 87, 90)

209

In [ ]:
calculate_sum(2, 3, 4)
#calculate_sum(2)
#calculate_sum(2, 3, 4, 5)
#calculate_sum()

TypeError: calculate_sum() missing 3 required positional arguments: 'num1', 'num2', and 'num3'

In [ ]:
def calculate_sum(*nums: int):
  total = 0
  #print(type(nums))
  for item in nums:
    total += item
  return total

In [ ]:
print(calculate_sum(2, 3, 4))
print(calculate_sum(2))
print(calculate_sum(2, 3, 4, 5))
print(calculate_sum())

9
2
14
0

In [ ]:
my_list = [1, 2, 3, 4]
my_tupl = (1, 2, 3, 4)

print(calculate_sum(*my_list))
print(calculate_sum(*my_tupl))
print(calculate_sum(*my_list, 10, 20))
print(calculate_sum(*my_tupl, 10, 20))

10
10
40
40

In [ ]:
def surprise(my_list = []):
    print(my_list)
    my_list.append('x')

In [ ]:
def no_surprise(my_list = None):
    if my_list == None:
        my_list = []
    print(my_list)
    my_list.append('x')

In [ ]:
surprise()
surprise()
surprise()

['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']
['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']
['x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x', 'x']

In [ ]:
no_surprise()
no_surprise()
no_surprise()

[]
[]
[]

##Problem - 4

Write a function which take multiple strings as input. If the length of the string is less than 3 change it to upper case otherwise convert it to lower case and finally concatenate these converted strings.

In [ ]:
def convert_strings(*words: str):
    final_string = ''
    for word in words:
        if len(word) < 3:
            final_string += word.upper()
        else:
            final_string += word.lower()

    return final_string

convert_strings("Welcome" , "to", "Talentsprint", "Program.")

'welcomeTOtalentsprintprogram.'

#Keyword arguments(**kwargs)

* How to Use **kwargs in Python
   
   $**$kwargs allows us to pass a variable number of keyword arguments to a Python function. In the function, we use the double-asterisk (**) before the parameter name to denote this type of argument.

* Keyword arguments can be likened to dictionaries in that they map a value to a keyword.

* Thus we see that the arguments, in this case, are passed as a dictionary and these arguments make a dictionary inside the function with name same as the parameter excluding **.

In [ ]:
def capitals(**kwargs):
    print(type(kwargs))
    return kwargs


capitals(India= "New Delhi", China= "Beijing", Bangladesh= "Dhaka", England= "London")

<class 'dict'>

{'India': 'New Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'England': 'London'}

In [ ]:
countries = {'India': 'New Dehli', 'China': 'Beijing'}

capitals(**countries)

<class 'dict'>

{'India': 'New Dehli', 'China': 'Beijing'}

Note that the name of the argument need not necessarily be kwargs – again, it can be anything. In this case, it's fruits. But it's generally a standard way to use **kwargs as the name.

In [ ]:
def total_fruits(**fruits):
    total = 0
    print(type(fruits))
    for amount in fruits.values():
        total += amount
    return total


print(total_fruits(banana=5, mango=7, apple=8))
print(total_fruits(banana=5, mango=7, apple=8, oranges=10))
print(total_fruits(banana=5, mango=7))

<class 'dict'>
20
<class 'dict'>
30
<class 'dict'>
12

#Problem - 5

Write a function to average of the marks scored from the given arguments.

In [ ]:
def average_marks_scored(**marks) -> float:
    total, count = 0, 0
    for mark in marks.values():
        total

##Assignment - 19-01

###calculate the perimeter

Write one function to calculate the perimeter of triangle, rectangle, pentagone, hexagone.

In [ ]:
def perimeter_of_shape(*side)->int:
  #write your code here
  return

#Assignment - 19 - 02

###Concatenate the strings in the reverse order

Write a function which take multiple strings as input. Concatenate the strings in the reverse order after reversing the strings.

In [ ]:
def display_in_reverse_order(*strings)->str:
    #Write your code here
    return