<a href="https://colab.research.google.com/github/fnemati/TechWise/blob/main/PST_TWC1_Session_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Coverage

    * Printing number pyramids

Print

    1
    2  2
    3  3  3
    4  4  4  4
the number of lines aka last line value is a parameter

In [ ]:
LIMIT = 11
def print_pyramid(n: int) -> None:
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(i, " ", sep="", end="")
        print()

print_pyramid(LIMIT)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11

In [ ]:
"hello" * 3

'hellohellohello'

In [ ]:
LIMIT = 11
def print_pyramid(n: int) -> None:
    width = len(str(n)) + 1
    for i in range(1, n + 1):
        print(f'{i:3d}' * i)
print_pyramid(LIMIT)

  1
  2  2
  3  3  3
  4  4  4  4
  5  5  5  5  5
  6  6  6  6  6  6
  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8
  9  9  9  9  9  9  9  9  9
 10 10 10 10 10 10 10 10 10 10
 11 11 11 11 11 11 11 11 11 11 11

In [ ]:
LIMIT = 11
def make_pyramid(n: int) -> None:
    pyramid = []
    for i in range(1, n + 1):
        pyramid.append(f'{i:3d}' * i)
    return pyramid
print('\n'.join(make_pyramid(LIMIT)))

  1
  2  2
  3  3  3
  4  4  4  4
  5  5  5  5  5
  6  6  6  6  6  6
  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8
  9  9  9  9  9  9  9  9  9
 10 10 10 10 10 10 10 10 10 10
 11 11 11 11 11 11 11 11 11 11 11

In [ ]:
import os
CRLF = os.linesep

def line(line_num: int) -> str:
    return f'{line_num:3d}' * line_num

def make_pyramid(n: int) -> str:
    pyramid = []
    for i in range(1, n + 1):
        pyramid.append(line(i))
    return pyramid

def format_pyramid(pyramid: list[str]) -> str:
    return CRLF.join(pyramid)

print(format_pyramid(make_pyramid(11)))

  1
  2  2
  3  3  3
  4  4  4  4
  5  5  5  5  5
  6  6  6  6  6  6
  7  7  7  7  7  7  7
  8  8  8  8  8  8  8  8
  9  9  9  9  9  9  9  9  9
 10 10 10 10 10 10 10 10 10 10
 11 11 11 11 11 11 11 11 11 11 11

In [ ]:
line(7)

'  7  7  7  7  7  7  7'

In [ ]:
import os
print(repr(os.linesep))

'\n'

## Problem 2
print the pyramid

  1

  2  4

  3  6  9

  4  8 12 16

  5 10 15 20 25

In [ ]:
def item(a: int, b: int) -> str:
    return f'{a * b: <4d}'

'''def line(line_num: int) -> [str]:
    return [item(i, line_num ) for i in range(1, line_num + 1)]'''


def line(line_num: int) -> list[str]:
    line_seq = []
    for i in range(1, line_num + 1):
        line_seq += [item(i, line_num)]
    return line_seq

def formatted_line(line_num: int) -> str:
    return ''.join(line(line_num))

def make_pyramid(lines: int) -> list[str]:
    pyramid = []
    for i in range(1, lines + 1):
        pyramid.append(formatted_line(i))
    return pyramid

def formatted_pyramid(lines: int) -> str:
    return CRLF.join(make_pyramid(lines))

In [ ]:
line(7)

['7   ', '14  ', '21  ', '28  ', '35  ', '42  ', '49  ']

In [ ]:
formatted_line(7)

'7   14  21  28  35  42  49  '

In [ ]:
make_pyramid(7)

['1   ',
 '2   4   ',
 '3   6   9   ',
 '4   8   12  16  ',
 '5   10  15  20  25  ',
 '6   12  18  24  30  36  ',
 '7   14  21  28  35  42  49  ']

In [ ]:
print(formatted_pyramid(7))

1
2   4
3   6   9
4   8   12  16
5   10  15  20  25
6   12  18  24  30  36
7   14  21  28  35  42  49